<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout-simple}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>	
<th:block layout:fragment="content">

	<div class="wines-error-panel">
		<h1 class="wines-error-panel__code">
			<i class="fa fa-location-arrow"></i> 403
		</h1>
		
		<h2 class="wines-error-panel__title">Accesso Negado</h2>
		
		<div class="wines-error-panel__description">
			Desculpe, você não está autorizado a acessar a página solicitada.
Se você acha que isso é um erro, entre em contato conosco
			<br/><br/>
			<a th:href="@{/starttm/}" class="btn  btn-primary">Go back to homepage</a>
		</div>
	</div>
</th:block>
	
</html>