<!DOCTYPE html>
<html lang="pt"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-simple}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<th:block layout:fragment="content">	
	<div class="wines-error-panel">
		<header class="header-content">
				<h1 class="wines-error-panel__code">
					<i class="fa  fa-location-arrow"></i> 404
				</h1>
				<h2 class="title-1">Página não encontrada</h2>				
		</header>
		
		<div class="wines-error-panel__description">						
			<p>Desculpe, o conteúdo pode ter sido removido ou não estar mais disponível.</p>

			<h2 class="title-5">Você pode:</h2>
			<ol>
				<li>Verificar se digitou corretamente o endereço desejado.</li>
				<li>Retornar à <a href="/starttm/public">página inicial</a>.</li>
				<li>Retornar à <a href="javascript:history.back()">página anterior</a>.</li>				
			</ol>
			<!-- <p>Se o problema persistir, entre em contato através de um dos <a href="#">canais de atendimento</a>.</p> -->

		</div>
	</div>
</th:block>
</body>
</html>