<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar" th:fragment="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand  hidden-xs" href="#"> 
				<img alt="Start TM"/>
			</a>
	
			<ul class="nav navbar-nav">
				<li><a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
				</li>
			</ul>
			
		</div>
		<ul class="nav navbar-nav  navbar-right">
			<li>
		    <a href="/starttm/public"  role="button" aria-haspopup="true" aria-expanded="false">  Acessar área publica</a>
			</li>
			
			<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><em class="fa  fa-user"></em>  John Victor<span class="caret"></span></a>
	          <ul class="dropdown-menu" style="width:10px">
	            <li><a href="#"><i class="glyphicon glyphicon-edit"></i> Meus dados</a></li>
	            <li><a href="#"><i class="glyphicon glyphicon-bell"></i> Notificações</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#"><i class="glyphicon glyphicon-log-out"></i> Sair </a></li>
	          </ul>
		    </li>
		    
		</ul>
		
	</div>
</nav>

</html>