<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<aside class="starttm-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
		<div class="starttm-layout-sidebar__content">
		    
		    <nav class="starttm-menu  js-menu">
		      <ul class="starttm-menu__list">
		      	      
		        <li class="starttm-menu__item">
                <a class="nav-link active" href="/starttm/">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="starttm-menu__item">
                <a class="nav-link" href="/starttm/eventos">
                  <span data-feather="file"></span>
                  Eventos
                </a>
              </li>  <li class="starttm-menu__item">
                <a class="nav-link" href="#">
                  <span data-feather="flag"></span>
                  Clubes
                </a>
              </li>            
              <li class="starttm-menu__item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Atletas
                </a>
              </li>
              <li class="starttm-menu__item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Tecnicos
                </a>
              </li>
              <li class="starttm-menu__item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Árbitros
                </a>
              </li>
              
              <li class="starttm-menu__item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Resultados
                </a>
              </li>
              <li class="starttm-menu__item">
                <a class="nav-link" href="#">
                  <span data-feather="edit"></span>
                  Dados Pessoais
                </a>
              </li>
		        
		      </ul>
		    </nav>
		</div>
	</aside>
	
</html>