<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<aside class="starttm-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
		<div class="starttm-layout-sidebar__content">
		    
		    <nav class="starttm-menu  js-menu">
		      <ul class="starttm-menu__list">
		        <li class="starttm-menu__item" >
		          <a><i class="fa  fa-fw  fa-home">
		          	</i><span>Register</span>
		          </a>
		        </li>
		        
		        <li class="starttm-menu__item" >
		          <a ><i class="fa  fa-fw  fa-search" >
		          	</i><span>Search</span>
		          </a>
		        </li>
		      </ul>
		    </nav>
		</div>
	</aside>
	
</html>