<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Cadastro de Eventos</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<body>

<form class="form-control" method="post">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Nome</label>
      <input type="text" class="form-control" id="nome" placeholder="Nome"/>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Endereço</label>
    <input type="text" class="form-control" id="endereco"/>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="cidade">Cidade</label>
      <input type="text" class="form-control" id="cidade"/>
    </div>
    <div class="form-group col-md-4">
      <label for="estado">Estado</label>
      <select id="estado" class="form-control">
        <option>Choose...</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="dataInicio">Data de inicio</label>
      <input type="date"/>
    </div>
    <div class="form-group col-md-4">
      <label for="dataFim">Data de fim</label>
      <input type="date"/>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

<script src="js/bootstrap.min.js"></script>
</body>
</html>